html {
    /* font-size: 10px; */
}

h1::first-letter {
    color: #00796b;
    font-size: 3em;
}

h1:hover::first-letter {
    color: #4FC3F7;
}

ul  {
    list-style: none;
}

.done::before {
    content: url("../img/check.png");
}

.ongoing {
    background-color: aquamarine;
}

.ongoing::before {
    content: url("../img/doing.png");
}

.future {
    text-decoration: underline;
}
.future::before {
    content: url("../img/no.png");
}

.gym::after {
    content: url("../img/gym.png");
}

.bill::after {
    content: url("../img/bill.png");
}

.dance::after {
    content: url("../img/dance.png");
}

.eat::after {
    content: url("../img/eat.png");
}

.book::after {
    content: url("../img/book.png");
}

.organize::after {
    content: url("../img/organize.png");
}
