* {
    margin: 0;
}

h1, h2, p {
    padding-left: 30px;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
    background-color: rgb(98, 97, 97);
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px black;
    color: white;
    text-align: center;
    line-height: 90px;
}

p:nth-of-type(1) {
    text-indent: 3rem;
    word-spacing: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p:nth-of-type(2) {
    text-indent: 6rem;
    word-spacing: -0.2rem;
}

h2 {
    text-shadow: 2px 2px grey;
    letter-spacing: 0.8rem;   
}

p:nth-of-type(3) {
    background-color: grey;
    line-height: 32px;
}

p:nth-of-type(4) {
    background-color: rgb(0, 0, 0);
    line-height: 44px;
    color: white;
}